#cloud-config

packages:
  - nginx
  - openssh
  - curl
  - sudo

users:
  - name: zozogix
    groups: wheel
    shell: /bin/ash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE386ck1RPdfatEflnIy12GNgCqfU2yKpPCkW1D/l0d1 user@openstack

ssh_pwauth: false
disable_root: true

runcmd:
  # Enable and start SSH
  - rc-update add sshd default
  - service sshd start

  # Enable and start nginx
  - rc-update add nginx default
  - service nginx start

  # Web page
  - echo "<h1>GitHub Actions + OpenStack success!</h1>" > /var/www/localhost/htdocs/index.html
