#cloud-config

packages:
  - nginx
  - openssh
  - curl
  - sudo

users:
  - name: zozogix
    groups: wheel
    shell: /bin/ash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    passwd: $6$ab8ZBtXlyvTjswxI$7/b.leYhd1oIoCOyU9d35pNr8inVudiNQHCLgglz0aeOoBzWEm9JEOfI16VuoDGYEgai/Rbczcvzd4JPiifJb1
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE386ck1RPdfatEflnIy12GNgCqfU2yKpPCkW1D/l0d1 user@openstack

ssh_pwauth: false
disable_root: true

runcmd:
  # Enable and start SSH
  - sed -i 's/^#\?PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
  - sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
  - rc-update add sshd default
  - service sshd start

  # Enable and start nginx
  - rc-update add nginx default
  - service nginx start

  # Web page
  - echo "<h1>GitHub Actions + OpenStack success!</h1>" > /var/www/localhost/htdocs/index.html
